*{
    margin: 0;
}
header{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 40px;
}
.subT{
    margin-top: 5rem;
    padding: 10px;
    background-color: grey;
    font-size: 30px;
}
.subT p{
    display: inline-block;
}
.subT p:last-child{
    float: right;
    margin-right: 40%;
}
.menu{
    margin-top: 2px;
    background-color: lightgrey;
}
.menu ul {
    height: 20px;
    margin-top: 2px;
}
.menu li{
    padding: 0px 8.6%;
    list-style: none;
    display: inline-block;
}
main{
    margin-top: 10px;
}
.one div{
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}
.two{
    clear: both;
    padding: 10px 0px;
}
.two div{
    background-color: lightgrey;
    margin-right: 10px;
    width: 200px;
    height: 200px;
    float: left;
}
.text p:first-child{
    float: left;
    width: 35%;
    margin-right: 10px;
}
.text p:last-child{
    float: right;
    width: 40%;
}